@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.sidebar{
    background-color: red;
    font-family: 'Fira Sans', sans-serif;
    width: 20vw;
}
.main{
    background-color: yellow;
    width: 80vw;
}
.container{
    display: flex;
}